
h1, h2, h3, h4, p, a{
  font-family: 'Noto Sans', sans-serif;
}
.navbar {
  background-color: #0099CC;
  color: #fff;
  border: 1px solid;
  margin-bottom: 0;
  padding-bottom: 0;
}
.navbar-light .navbar-brand {
  color: #fff;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 5px;
}
.navbar-brand img {
  height: 58px;
  width: 155px;
  margin: 0 0 0 30px;
  padding: 0;  
  border-radius: 20px;
}
.logoText {
  position: absolute;
  padding-top:3px;
  padding-right: 5px;
  margin-right:5px;
  top: 5px;
  left: 82px;
  font-size: 75%;
  color: black;
}
.navbar-light .navbar-brand:hover {
  color: #fff;
  font-weight: 900;
  font-style: italic;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
#icons li {
  display:inline;
}
li a {
  color: #fff;
}
li a:hover {
  color: #50c878;
}
ul {
  margin-bottom: 0;
  font-size:1.2rem;
  padding-left: 200px;
}
ul.navbar-nav {
  color: #fff;
}

#upper-jumbo {
  background-image: url(img/aboutBackground.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  height: 400px;
}
#logo {
  border-radius: 25px;
  border: 2px solid #0099CC;
  max-height: 150px;
  margin-left:100px;
}
#text {
  margin-top: 1px;
  border: 0;
  font-style: oblique;
  font-weight: bold;
  font-size: 1.2rem;
}
#para {
  margin-top: 45px;
  margin-bottom: 0;
  font-style: oblique;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: underline;
}
#node {
  width: 100px;

}
