body {
  background-image: url("img/background.jpg");
  background-size: cover;
  /*background-color: #3964C3;/*
  /*padding-top: 20px;*/
  /*padding-bottom: 20px;*/
}
label {
  color: #fff;
}
li a:hover {
  color: #50c878;
}
.row h1 {
  color: #F5B041;
}
.container {
  margin-top: 100px;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #9A2617;
  color: #fff;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0:
}
.navbar-brand {
  font-style: oblique;
  font-weight:900;
  font-family: cursive;
  font-size: 1.3em;
  padding: 10px 1px 15px
}
.navbar-inverse .navbar-nav li a {
  color: #D5D5D5;
}
.navbar-inverse .navbar-brand {
    color: #D5D5D5;
    background-color:  #9A2617;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #D5D5D5
}
.jumbotron {
  color: #fff;
  background-color: #FF3C33;
  font-size: 200%;
}
.bold {
  font-weight: bold;
  color:#F8C471;
}
.boldItalic {
  font-weight: bold;
  font-style: italic;
  color: #F5B041;
}
.boldItalicSM {
  font-weight: bold;
  font-style: italic;
  color: #A9DFBF;
}
.jumbotron p {
  font-size: 140%;
}
.bigIcon {
  font-size: 7em;
}
.btn btn-danger {
  margin-top: 0;
}
.hideShow li {

}
