

h1, h2, h3, h4, p, a{
  font-family: 'Noto Sans', sans-serif;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.3);
  padding: 1% 0;
  font-size: 1.2em;
  border: 0;
}
.navbar-brand {
  font-style: oblique;
  font-weight:900;
  font-family: cursive;
  font-size: 1.3em;
  padding: 10px 0 15px
}

.navbar-inverse .navbar-nav li a {
  color: black; 
  font-weight: bold;
}
.navbar-inverse .navbar-nav li a:hover {
  color: black;
  font-weight: 900;
}
.navbar-inverse .navbar-brand {
    color: black;
}
.navbar-inverse .navbar-brand:hover {
    color: black;
}
.navbar-right {
  margin-right: 20px;
}
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
}
.carousel-caption p {
  font-size: 2em;
  font-weight:bold;
}
@media (max-width: 600px) {
  .carousel-caption{
    display:none;
  }
}
#icon {
  max-width: 200px;
  margin: 1% auto;
}
h2 {
  font-size: 1.9em;
}
footer {
  width: 100%;
  background-color: green;
  padding: 3%;
  color: #FFF;
}
li {
  display: inline-block;
}

li a:hover {
  color: #FF0000;
  text-decoration: none;
}
.bigIcon {
  font-size: 9em;
  color:  #000080;
}
.fa-envelope-o {
  color: #fff;
}

.fa-envelope-o:hover {
  text-decoration: none;
  color: #FF0000;
}
#email p {
  font-size: 145%;
}
.container {
  margin: 4% auto;
}
.container p {
  font-size: 1.6em;
}
.container a {
  text-decoration: none;
}
.container a:hover {
  color: #FFF;
  background-color: #50c878;
  text-decoration: none;
}
.hove {
  font-weight: 900;
  background-color: blue;
  transition: background-color 2s;
}
.flip-container {
  margin: 50px auto;
  width: 700px;
  height: 200px;
  transition: all 5s;
  perspective: 900px;
  font-size: 1.8rem;
}
.front, .back {
  margin-left: 100px;
  width: 500px;
  height: 500px;
  border-radius:500px;
  padding: 100px 50px 50px 50px;
  position: absolute;
  top: 0;
  /*width: 100%;
  min-height: 100%;*/
  text-align: center;
  backface-visibility: hidden;
  transform-style: preserve3d;
  transition: all 5s;
}
.front {
  background: green;
  color: #fff;
}

.back {
  color: #fff;
  background: #337ab7;
  transform: rotateX(-180deg);
  
}
.flipped .back {
  transform: rotateX(0deg);
}

.flipped .front {
  transform: rotateX(180deg);
}
